@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --fs-base: 16px;

  --ff-serif: "Young Serif", serif;
  --ff-outfit: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

/* CSS reset */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* body */

body {
  background-color: var(--White);
  border-radius: 20px;
}

/* general styling */

main,
section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 20px 20px;
}

section {
  padding: 0 70px 0 50px;
}

section h3 {
  color: var(--Brown-800);
  font-size: 36px;
}

section li {
  margin-top: 10px;
  color: var(--Stone-600);
}

hr {
  margin: 30px 0;
  height: 0.1px;
  background-color: var(--Stone-150);
  border: none;
}
img {
  display: block;
  border-radius: 15px;
}

h1,
h3 {
  font-family: var(--ff-serif);
  font-weight: var(--fw-regular);
}

h1 {
  color: var(--Stone-900);
  font-size: 40px;
  margin: 30px 0 20px 0;
}
h4 {
  font-size: 20px;
}
ul {
  margin-top: 1%;
  padding: 0 5px;
}

li {
  font-family: var(--ff-outfit);
}

p {
  font-size: 16px;
  line-height: 1.75rem;
  color: var(--Stone-600);
}

p,
#preparation-time {
  font-family: var(--ff-outfit);
}

/* preparation time section */

#preparation-time {
  margin-top: 8%;
  margin-left: 30px;
}

#preparation-time h4,
#preparation-time li::before {
  color: var(--Rose-800);
}

#preparation-time li {
  color: var(--Stone-600);
  margin-top: 20px;
}

#preparation-time li::before {
  content: "●";
  font-family: var(--ff-outfit);
  font-size: 10px;
  margin-right: 25px;
}

#preparation-time li span,
section li span {
  font-weight: var(--fw-bold);
}

/* Ingredients section */

#ingredients ul li::before {
  content: "●";
  font-family: var(--ff-outfit);
  font-size: 10px;
  margin-right: 40px;
  color: var(--Brown-800);
}

/* Instructions section */

ol {
  margin-top: 15px;
  counter-reset: counter;
  padding-left: 0;
}

ol li {
  margin-left: 10px;
  position: relative;
  left: 45px;
  line-height: 25px;
}

#instructions ol li::before {
  counter-increment: counter;
  content: counter(counter) " .";
  color: var(--Brown-800);
  padding-right: 25px;
  font-family: var(--ff-outfit);
  font-weight: var(--fw-bold);
  position: absolute;
  left: -45px;
}

/* Nutrition section */

#nutrition p {
  margin-top: 15px;
}

table {
  margin: 15px auto;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--Stone-150);
  height: 50px;
}
td {
  padding-left: 30px;
}

tr td:first-child {
  font-family: var(--ff-outfit);
  color: var(--Stone-600);
}
tr td:nth-child(2) {
  color: var(--Brown-800);
  font-family: var(--ff-outfit);
  font-weight: var(--fw-bold);
}

/* attibution class */

.attribution {
  margin: 10px auto;
  padding-bottom: 5px;
  text-align: center;
}

/* Media Queries */

/* desktop size */

@media (min-width: 1440px) {
  html {
    background-color: var(--Stone-100);
  }

  body {
    width: 50%;
    margin: 30px auto;
  }
}

/* mobile size */
