@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --fs-base: 16px;

  --ff-serif: "Young Serif", serif;
  --ff-outfit: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

/* CSS reset */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--White);
  border-radius: 20px;
}

main,
section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 20px 20px;
}

section {
  padding: 0 50px;
}

section h3 {
  color: var(--Brown-800);
  font-size: 36px;
}

section li {
  margin-top: 10px;
  color: var(--Stone-600);
}

section li::marker {
  color: var(--Brown-800);
}

hr {
  margin: 30px 0;
}
img {
  display: block;
  border-radius: 15px;
}

h1 {
  font: var(--Young-Serif-400);
  font-size: 48px;
  margin: 30px 0px;
}

p,
#preparation-time {
  font: var(--Outfit-400);
  margin-top: 30px;
  font-size: var(--font-size);
}

#preparation-time {
  margin-left: 30px;
}

#preparation-time h4 {
  color: var(--Rose-800);
}

#preparation-time li {
  color: var(--Stone-600);
}

#preparation-time li::marker {
  color: var(--Rose-800);
}

#preparation-time li span,
section li span {
  font: var(--Outfit-700);
  color: var(--Stone-900);
}

table {
  margin: 30px auto;
  width: 100%;
}

tr {
  border-bottom: 3px solid var(--Stone-100);
  height: 50px;
}

tr td:nth-child(2) {
  color: var(--Brown-800);
}
@media (min-width: 1440px) {
  html {
    background-color: var(--Stone-100);
  }

  body {
    width: 65%;
    margin: 30px auto;
  }
}
